@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  @apply relative min-h-[40px] px-72 pt-36 focus:!outline-0;
}

.blog {
  @apply flex flex-col space-y-4;
}

.blog h1 {
  @apply text-[40px] font-extrabold;
}

.blog h2 {
  @apply text-3xl font-extrabold;
}

.blog h3 {
  @apply text-2xl font-extrabold;
}

.blog p {
  @apply text-lg;
}

.blog span {
  @apply text-base;
}

.blog ol,
.blog ul {
  @apply !mt-2 ml-8 list-outside;
}

.blog ol {
  @apply list-decimal;
}
.blog ul {
  @apply list-disc;
}

.blog ol li,
.blog ul li {
  @apply mt-2 first:mt-0;
}

.blog blockquote {
  @apply !mb-2 !mt-6 ml-6 border-l-4 border-gray-300 p-4 py-2 italic;
}

.blog a {
  @apply cursor-pointer text-blue-800 hover:underline;
}

.blog hr {
  @apply border-gray-400;
}

.blog table {
  @apply w-full table-fixed border-collapse border border-gray-400;
}

.blog table th,
.blog table td {
  @apply relative border border-gray-400 px-2 py-1;
}

.blog table th {
  @apply bg-blue-100;
}

.blog .tableWrapper {
  @apply overflow-auto;
}

.ProseMirror iframe {
  @apply mr-6 !aspect-video !h-auto min-h-[100px] !w-full max-w-[480px];
}

.ProseMirror img.ProseMirror-selectednode,
.ProseMirror .ProseMirror-selectednode iframe {
  @apply block outline outline-8 outline-yellow-500 transition-[outline] duration-150;
}

.ProseMirror img {
  @apply mr-6 max-h-[100px] w-full max-w-[480px] object-scale-down object-center;
}

.ProseMirror img.ProseMirror-selectednode,
.ProseMirror div[data-youtube-video] {
  @apply cursor-move;
}

.ProseMirror .selectedCell:after {
  @apply pointer-events-none absolute inset-0 z-[2] bg-gray-400/30 content-[''];
}

.ProseMirror .column-resize-handle {
  @apply pointer-events-none absolute bottom-[-2px] right-[-2px] top-0 w-1 bg-sky-200;
}

.ProseMirror-gapcursor {
  @apply pointer-events-none !relative hidden;
  @apply after:!relative after:mt-1 after:block after:h-5 after:!border-t-0 after:border-l after:border-black after:content-[''];
}
.ProseMirror-gapcursor:after {
  animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

.tippy-box {
  @apply pointer-events-none;
  @apply rounded-md;
  max-width: 500px !important;
  box-shadow:
    rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 3px 6px,
    rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.tippy-content {
  @apply inline-flex;
  @apply items-center;
  @apply h-[32px];
  @apply bg-white;
  @apply overflow-hidden;
  @apply text-sm;
  @apply rounded-md;
  @apply pointer-events-auto;
}

.tippy-content > div {
  @apply flex;
  @apply items-center;
  @apply h-full;
}

.tippy-content .is-active {
  @apply bg-zinc-200;
}

.tiptap code {
  font-size: 0.9rem;
  padding: 0.25em;
  border-radius: 0.25em;
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
  box-decoration-break: clone;
}

@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}
.ProseMirror-focused .ProseMirror-gapcursor {
  @apply block;
}
